/* 'Oxygen', sans-serif; */

/* $purple: #9E4CDF;
$white: #ffffff;
$black: #444444; */

/* .custom-btn {
    background-color: #9E4CDF;
    color: #ffffff;
    border-radius: 24px;
    padding: 15px 20px;
    font-weight: 700;
    box-shadow: none !important;
    
    
    &:hover {
        color: #fff;
        background: #C57BFF;
    }
} */