.header-container {
    background: linear-gradient(180deg, #72CFFA 15.1%, rgba(114, 207, 250, 0) 90.1%);
    color: #444444;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 130px;
    padding-bottom:  150px;
}