
.main-header-head {
    font-size: 48px;
    font-weight: 700;
    padding: 100px 560px 35px 0;
}
.main-header-content {
    font-size: 16px;
    font-weight: 400px;
    padding: 0 500px 35px 0px;
}
.learn-more {
        text-decoration: none;
        margin: 0 0 0 20px;
        font-size: 14px;
        color: #9E4CDF;
}
.learn-more  img {
    margin: 0 0 2px 5px;
}
.bottom-img {
    position: absolute;
    top: 350px;
    right: 100px;
}

@media screen and (max-width: 360px) {
    .main-header-head, .main-header-content{
        padding: 0 30px 35px 10px;
        text-align: center;
    }

    .bottom-img img{
        position: absolute;
        top: 240px;
        right: -75px;
        height: 150px
    }
  }